
<article>
  <header>
    <h1 class="project-name">{{projectName}} API documentation</h1>
    <h2 class="project-version">{{projectVersion}}</h2>
  </header>
  <section>
    <p>This is your documentation's index page. Put whatever you want here.</p>
  </section>
</article>