nav
  h1 API

  input.filter(type='search', placeholder='Filter...')

  menu(type='toolbar')
    command#show-flat-nav
    command#show-nested-nav
    button(command='show-flat-nav') Flat
    button(command='show-nested-nav') Nested
  
  .content
    #nav-flat.pane.active
      ul
        | {{#publicClasses classes}}
        li
          a(href='{{../projectRoot}}classes/{{name}}.html') {{displayName}}
        | {{/publicClasses}}

    #nav-nested.pane
      ul
        | {{#modules}}

        li
          a(href='{{../projectRoot}}modules/{{name}}.html') {{displayName}}

          ul.classes
            | {{#each ../classes}}
            | {{#ifCond module ../displayName}}
            li.class-item
              a(href='{{../../projectRoot}}classes/{{displayName}}.html') {{displayName}}
            | {{else}}
            //- HURRR
            | {{/ifCond}}
            | {{/each}}

          ul.submodules
            | {{#each submodules}}
            li.submodule-item
              a(href='{{../../projectRoot}}modules/{{displayName}}.html') {{displayName}}

              ul.classes
                | {{#each ../../classes}}
                | {{#ifCond module ../displayName}}
                li.class-item
                  a(href='{{../../projectRoot}}classes/{{displayName}}.html') {{displayName}}
                | {{else}}
                | {{/ifCond}}
                | {{/each}}
            | {{/each}}

        | {{/modules}}
