nav
  h1 API

  input.filter(type='search', placeholder='Filter...')

  menu(type='toolbar')
    command#show-flat-nav
    command#show-nested-nav
    button.active(command='show-flat-nav') Flat
    button(command='show-nested-nav') Nested
  
  .content
    .nav-flat.pane.active
      ul
        | {{#publicClasses classes}}
        li
          a(href='{{../projectRoot}}classes/{{name}}.html') {{displayName}}
        | {{/publicClasses}}

    .nav-nested.pane
      ul.modules
        | {{#modules}}

        li
          a(href='{{../projectRoot}}modules/{{name}}.html') {{displayName}}
          ul.classes
            | {{#each ../classes}}
            | {{#equals module ../displayName}}
            li
              a(href='{{../../projectRoot}}{{displayName}}.html') {{displayName}}
            | {{/equals}}
            | {{/each}}
          ul.submodules
            | {{#each submodules}}
            li
              a(href='{{../../projectRoot}}modules/{{displayName}}.html') {{displayName}}
              ul.classes
                | {{#each ../../classes}}
                | {{#equals module ../displayName}}
                li
                  a(href='{{../../../projectRoot}}{{displayName}}.html') {{displayName}}
                | {{else}}
                | {{/equals}}
                | {{/each}}
            | {{/each}}

        | {{/modules}}
