menu.options(type='toolbar')
  | Show:
  label.checkbox
    | Inherited
    input.api-show-inherited(type='checkbox', checked='checked')
  label.checkbox
    | Protected
    input.api-show-protected(type='checkbox')
  label.checkbox
    | Private
    input.api-show-private(type='checkbox')
  label.checkbox
    | Deprecated
    input.api-show-deprecated(type='checkbox')
