
<menu type="toolbar" class="options">Show:
  <label class="checkbox">Inherited
    <input type="checkbox" checked="checked" class="api-show-inherited"/>
  </label>
  <label class="checkbox">Protected
    <input type="checkbox" class="api-show-protected"/>
  </label>
  <label class="checkbox">Private
    <input type="checkbox" class="api-show-private"/>
  </label>
  <label class="checkbox">Deprecated
    <input type="checkbox" class="api-show-deprecated"/>
  </label>
</menu>